<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magnus.infrastructure.dao.employee.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magnus.infrastructure.dao.employee.model.EmployeeDO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="tenant_id" property="tenantId" />
        <result column="nick_name" property="nickName" />
        <result column="emp_code" property="empCode" />
        <result column="is_deleted" property="deleteTag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, tenant_id, nick_name, emp_code, is_deleted
    </sql>

</mapper>
