<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magnus.infrastructure.dao.org.mapper.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magnus.infrastructure.dao.org.model.OrgDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="corp_id" property="corpId" />
        <result column="super_admin_uid" property="superAdminUid" />
        <result column="ext" property="ext" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="create_by" property="createBy" />
        <result column="modified_by" property="modifiedBy" />
        <result column="is_deleted" property="deleteTag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, full_name, corp_id, super_admin_uid, ext, gmt_create, gmt_modified, create_by, modified_by, is_deleted
    </sql>

</mapper>
